:root {
  --background: #ffffff;
  --foreground: #171717;

  --color-h1-blue-500: #364958;
  --color-primary-button: #87BBA2;
  --color-primary-button-hover: #63947D;
  --color-secondary-button: #B3B3B3;
  --color-disabled-button: #F8F8F8;
  --color-primary-color: #55828B;
  --color-primary-hover: #3B6064;
  --color-sidebar-blue: #3B6064;
  --color-background-page: rgba(250, 250, 250, 0.5);
  --soft-shadow: 0 4px 6px rgba(0,0,0,0.1);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 0;
  height: 100%;
}

html {
  height: 100%;
}

main {
  min-height: 100%;
}
.ryvar-color-primary{
  color: var(--color-primary-color);
}
.confirmation-button{
  font-size: 16px;
  font-weight: 400;
  min-width: 169px;
  min-height: 40px;
  margin: 0 10px;
}
.close-modal-button{
  background-color: var(--color-primary-color);
  border: none;
}
.close-modal-button:hover{
  background-color: var(--color-primary-button-hover) !important;
}
.rdp-selected .rdp-day_button{
  border-color:var(--color-primary-color) !important;
}
.rdp-today{
  color: var(--color-primary-color) !important;
}
.btn-ryvar{
  background-color: var(--color-primary-button) !important;
  width: 162px;
  height: 40px;
  color: white;
  border: none;
  border-radius: 50px;
  padding: 5px 10px;
  font-size: 14px;
  font-weight: 500;
  cursor: pointer;
  transition: background-color 0.7s ease;
  display: flex;
  align-items: center;
  justify-content: center;
}
.btn-ryvar:hover{
  background-color: var(--color-primary-color) !important;
}

.scrollbar-hide {
  -ms-overflow-style: none;  /* IE y Edge legacy */
  scrollbar-width: none;     /* Firefox */
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;             /* Chrome, Safari, Opera */
}

@media(width < 468px) {
  .btn-ryvar{
    font-size: 0.8rem;
  }

}